body {
  font-family: Arial, sans-serif;
  background-color: #F4F3EF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.currency-widget {
  background-color: #C5CACE;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  width: 900px;
  padding: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.currency-widget h1 {
  font-size: 32px;
}

.widget-title {
  color: #333;
  margin-bottom: 40px;
  text-align: center;
}

.currency-converter {
  margin-bottom: 30px;
}

.currency-converter h2 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.currency-converter .converter-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.currency-converter .input-group,
.currency-converter .select-currency,
.currency-converter .output-group {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 20%;
}

.currency-converter .arrow {
  cursor: pointer;
  color: #333;
  font-size: 20px;
  margin: 0 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.currency-converter label {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: bold;
  text-align: left;
  color: #555;
}

input[type="number"],
input[type="text"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

input[type="number"]:hover {
  border-color: #839587;
  box-shadow: 0 0 5px rgba(131, 149, 135, 0.5);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
}

select:hover {
  border-color: #999;
}

select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.currency-chart {
  margin-top: 20px;
  margin-bottom: 30px;
}

.currency-chart h2 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.currency-chart .date-range {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.currency-chart .date-range label {
  margin: 0 10px;
}

.date-range {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.date-range label {
  margin: 0 10px;
}

.date-range input[type="date"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: auto;
}

#update-chart {
  padding: 8px 15px;
  background-color: #839587;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

i {
  margin-right: 5px;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
  .date-range {
    flex-direction: column;
    align-items: stretch;
  }
  .date-range label,
  .date-range input[type="date"] {
    margin: 5px 0;
    width: 100%;
  }
}

.time-period {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-period button {
  margin-right: 5px;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  background-color: #839587;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.time-period button:hover {
  background-color: #4F5958;
}

.time-period button:active {
  background-color: #242929;
}

.period-button {
  background-color: #839587;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.period-button.active {
  background-color: #4F5958;
  color: white;
}
